<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Roulette</title>
</head>
<body>
    
    <form action="/start" method="POST">
        <h1>When everyone has joined, click the button below!</h1>
        <button type="submit">START GAME!!</button>
    </form>
    <!-- <h1>Please wait for the VIP to start the game</h1> -->
</body>
</html>